{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"> -->

    {% block head %}
    {% endblock %}
</head>
<body>
    {% include 'main_menu.html' %}
    {% block content %}{% endblock %}
    
    <script src="{% static 'bootstrap/jquery.js' %}"></script>
    <!-- <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script> -->
    {% block js %}
    {% endblock %}
</body>
</html> 
