{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="content-header">
                    <a href="{% url 'trash:filemanager' %}?path={{ previous_dir|urlencode }}">
                        <button type="button" class="btn btn-primary">
                            Back
                        </button>
                    </a>
                </div>
            </div>

     
            <form action="{% url 'trash:task_create'%}" method="POST" class="content-body col-lg-12">
                {% csrf_token %} 
                {% for item in contents %}        
                        {% if item.is_dir %}
                            <div class="file-element">
                                <input type="checkbox" name="selected_files" value="{{ item.get_path }}">
                                <span class="glyphicon glyphicon-folder-close"></span>
                                <a href="{% url 'trash:filemanager' %}?path={{ item.get_path|urlencode }}">
                                    {{ item.get_name }}
                                </a>
                            </div>
                        {% else %}
                            <div class="file-element">
                                <input type="checkbox" name="selected_files" value="{{ item.get_path }}">
                                <span class="glyphicon glyphicon-file" ></span>
                                {{ item.get_name }}
                            </div>
                        {% endif %}     
                {% endfor %}
                <input type="hidden" name="action" value="delete">
                <div class="col-lg-12">
                    <input class="btn btn-danger" type="submit" value="Delete" />
                </div>
            </form>  

        </div>
    </div>


{% endblock %}
