<nav class="navbar navbar-default" style="margin-bottom: 0" navbar-main">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Trash app</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="nav-elem"><a href="{% url 'trash:filemanager' %}">Managers</a></li>
                <li class="nav-elem"><a href="{% url 'trash:trash' %}">Trashes</a></li>
                <li class="nav-elem"><a href="{% url 'trash:task' %}">Tasks</a></li>
            </ul>
        </div>
    </div>
</nav>