{% extends 'base.html' %}

{% load static %}
{% block content %}
	<div class="container">
    	<div class="row">
			<div class="content-body col-lg-12">
				<table class="table table-bordered">
				   	<tr>
				   		<th>Date</th>
				   		<th>Files</th>
   		 				<th>Status</th>
    					<th>Action</th>
    					<th>Trash</th>
   					</tr>
	    		{% for item in tasks %}        
	            		<a href="{% url 'trash:detail_trash' %}?path={{ item.trash_dir|urlencode }}">
	            				<tr>
	            					<td>{{ item.date }}</td>
	            					<td>{{ item.files }}</td>
	            					<td>{{ item.status }}</td>
	           						<td>{{ item.action }}</td>
	           						<td>{{ item.trash }}</td>
	           					</tr>        				
	            		</a>
	    		{% endfor %}
	    		</table>
	    	</div>
	    </div>
    </div>

{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}