{% extends "base.html"%}

{% block content %}

    <div class="container">
        <form action="{% url 'trash:task' %}" method="POST" class="content-body col-lg-12">
            {% csrf_token %}
            <div class="content-body col-lg-12">
                <table class="table table-bordered">
                    <tr>
                        <th>Selected Files</th>
                        <td>
                            {% for file in files %}
                                <p>
                                    <input type="checkbox" name="selected_files" value="{{ file }}" checked>
                                    {{ file }}
                                </p>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>Actions</th>
                        <td>
                            <p>
                                <input type="hidden" name="action" value="{{ action }}">
                                {{ action }}
                            </p>                       
                        </td>
                    </tr>
                    {% if action == "delete" %}
                    <tr>
                        <th>Regex</th>
                        <td>
                            <input id="regex_str" type="text" name="regex_str">
                            <input id="regex" type="checkbox" name="regex">
                        </td>
                    </tr>
                    {% endif %}
                    {{ form.as_table }}
                </table>
            </div>
            <div class="col-lg-12">
                <input class="btn btn-danger" type="submit" value="Execute" />
            </div>
        </form>
    </div>


{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('input[name="regex_str"]').hide();

            $('input[name="regex"]').on('click', function () {
                if ($(this).prop('checked')) {
                    $('input[name="regex_str"]').fadeIn();
                } else {
                    $('input[name="regex_str"]').hide();
                }
            });
        });
    </script>
{% endblock %}
