{% extends "base.html"%}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="content-header">
                    <div class="d-inline">
                        <a href="{% url 'trash:trash' %}">
                            <button type="button" class="btn btn-primary">
                                Back
                            </button>
                        </a>
                    </div>
                    <div class="d-inline">
                        <form method="POST">
                            {% csrf_token %} 
                            <input type="hidden" name="path" value="{{ path }}">
                            <input class="btn btn-danger" type="submit" value="Big Red Button" />
                        </form>
                    </div>
                </div>
            </div>
     
            <form action="{% url 'trash:task_create' %}" method="POST" class="content-body col-lg-12">
                {% csrf_token %} 
                {% for item in contents %}        
                        {% if item.is_dir %}
                            <div class="file-element">
                                <input type="checkbox" name="selected_files" value="{{ item.get_path }}">
                                <span class="glyphicon glyphicon-folder-close"></span>
                                {{ item.get_name }}
                            </div>
                        {% else %}
                            <div class="file-element">
                                <input type="checkbox" name="selected_files" value="{{ item.get_path }}">
                                <span class="glyphicon glyphicon-file" ></span>
                                {{ item.get_name }}
                            </div>
                            
                        {% endif %}

                {% endfor %}
                <input type="hidden" name="action" value="restore">
                <div class="col-lg-12">
                    <input class="btn btn-primary" type="submit" value="Restore" />
                </div>
            </form>
        </div>
    </div>

{% endblock %}