{% extends "base.html"%}
{% load static %}
{% block content %}
	<div class="container">
    	<div class="row">
			<div class="content-body col-lg-12">
	    		{% for item in trashs %}        
	        		<div class="file-element">

	            		<span class="glyphicon glyphicon-trash"></span>
	            		<a href="{% url 'trash:detail_trash' %}?path={{ item.trash_dir|urlencode }}">
	           				{{ item.trash_dir }}
	            		</a>
	        		</div>    
	    		{% endfor %}
	    	</div>
	    </div>
    </div>
{% endblock %}
